extends ../frame

block content
	div.html.ui.top.aligned.segment
		div.ui.breadcrumb
			a.section 用户管理
			i.right.chevron.icon.divider
			div.active.section 修改密码
	div.ui.grid.aligned.segment
		div.ten.wide.column.centered
			div.ui.form
				form(action="/login" method="POST")
					div.field
						label 用户名
						input(type="text", placeholder="请输入旧密码", disabled="true", id="userName" name="username", value="18511320121")
					div.field
						label 旧密码
						input(type="password", placeholder="请输入旧密码", id="userName" name="username", value="123")
					div.field
						label 新密码
						input(type="password", placeholder="请输入新密码" name="password" id="userPwd", value="123")
					div.field
						label 确认新密码
						input(type="password", placeholder="请再次确认新密码" name="password" id="userPwd", value="123")
					div#loginBtn.ui.blue.submit.button 提交