extends ../frame

block content
	div.html.ui.top.aligned.segment
		div.ui.breadcrumb
			a.section 用户管理
			i.right.chevron.icon.divider
			div.active.section 用户列表
	div.ui.grid.aligned.segment
		div.ten.wide.column.centered
			table.ui.grey.compact.celled.striped.selectable.yellow.table.attached
				thead
					tr.center.aligned
						th 用户名
						th 用户类型
						th 邮箱
						th 创建时间
				tbody
					each user, i in users
						tr.center.aligned
							td #{user.username}
							if user.roleid == "1"
								td 管理员
							else if user.roleid == "2"
								td 大客户
							else
								td 渠道
							td #{user.email || "暂无"}
							td #{user.createTime || "暂无"}
				tfoot
					tr
						th(colspan="4")
							div#addUserBtn.ui.right.floated.small.primary.labeled.icon.button 添加用户
								i.user.icon
							//div.ui.right.floated.small.primary.labeled.icon.button 重置密码
							//	i.warning.circle.icon
				div#regUserModal.ui.modal
					div.header 添加用户
					i.close.icon
					div.content
						div.ui.segment.small.form
							div.field
								label 用户名称
								input(type="text", placeholder="用户名称")
							div.field
								label 邮箱
								input(type="text", placeholder="xxxx@email.com")
							div.field
								label 密码
								input(type="text", placeholder="请输入6位以上密码")
							div.field
								button.ui.primary.button 确定
			//div.ui.bottom.attached.warning.message
			//	i.circle.icon
	script.
		require(["/app/config.js"], function() {
			require(["/app/user/userList.js"]);
		});