extends ../frame

block content
    div.html.ui.top.aligned.segment
        div.ui.breadcrumb
            a.section 字典管理
            i.right.chevron.icon.divider
            div.active.section 合同类型管理
    div.ui.segment.grid.aligned.small.form
        div.ten.wide.column.centered
            div.ui.fluid.action.input
                input(type="text", id="contractTypeName", placeholder="合同类型")
                button.ui.primary.button#queryBtn 查询
    div.ui.grid.aligned.segment
        div.ten.wide.column.centered
            table.ui.grey.compact.selectable.celled.striped.table.sortable
                thead
                    tr.center.aligned
                        th.sorted.ascending 合同类型
                tbody#contractTypeList
                    each list, i in contractTypeList
                        tr.center.aligned
                            td #{list.contract_type_name}
                tfoot
                    tr
                        th(colspan="6")
                            div#addContractTypeBtn.ui.right.floated.small.primary.labeled.icon.button 添加合同类型
                                i.plus.icon
                div#contractTypeModal.ui.modal
                    div.header 添加合同类型
                    i.close.icon
                    div.content
                        div.ui.segment.small.form
                            div.field
                                label 合同类型
                                div.ui.fluid.action.input
                                    input(type="text", id="contractTypeFullName", placeholder="合同类型")
                                    button.ui.primary.button#confirmContractTypeBtn 确定
                        div.ui.bottom.attached.hidden.warning.message#modalMsg
                            i.icon.help
                            span#modalMsgTips
    script.
        require(["/app/config.js"], function () {
            require(["/app/dictionary/contractTypeList.js"]);
        });