extends ../frame

block content
    div.html.ui.top.aligned.segment
        div.ui.breadcrumb
            a.section 字典管理
            i.right.chevron.icon.divider
            div.active.section 入账银行管理
    div.ui.segment.grid.aligned.small.form
        div.ten.wide.column.centered
            div.ui.fluid.action.input
                input(type="text", id="contractBankName", placeholder="入账银行")
                button.ui.primary.button#queryBtn 查询
    div.ui.grid.aligned.segment
        div.ten.wide.column.centered
            table.ui.grey.compact.selectable.celled.striped.table.sortable
                thead
                    tr.center.aligned
                        th.sorted.ascending 银行名称
                tbody#contractBankList
                    each list, i in contractBankList
                        tr.center.aligned
                            td #{list.bank_name}
                tfoot
                    tr
                        th(colspan="6")
                            div#addContractBankBtn.ui.right.floated.small.primary.labeled.icon.button 添加银行
                                i.plus.icon
                div#contractBankModal.ui.modal
                    div.header 添加银行
                    i.close.icon
                    div.content
                        div.ui.segment.attached.small.form
                            div.field
                                label 银行名称
                                div.ui.fluid.action.input
                                    input(type="text", id="contractBankFullName", placeholder="银行名称")
                                    button.ui.primary.button#confirmContractBankBtn 确定
                        div.ui.bottom.attached.hidden.warning.message#modalMsg
                            i.icon.help
                            span#modalMsgTips
    script.
        require(["/app/config.js"], function () {
            require(["/app/dictionary/contractBankList.js"]);
        });