extends ../frame
block content
    div.html.ui.top.aligned.segment
        div.ui.breadcrumb
            a.section 字典管理
            i.right.chevron.icon.divider
            div.active.section 地区管理
    div.ui.grid.aligned.segment
        div.ten.wide.column.centered
            table.ui.grey.compact.selectable.celled.striped.table
                thead
                    tr.center.aligned
                        th 大区名称
                        th 对应省份
                        th 操作
                tbody
                    each list, i in regionList.region
                        tr.center.aligned
                            td #{i}
                            td #{list.area_name}
                            td
                                button.ui.primary.aligned.button.region-edit(data-regionid="#{list.region_id}") 编辑
                tfoot
                    tr
                        th(colspan="6")
                            div#addRegionBtn.ui.right.floated.small.primary.labeled.icon.button 添加大区
                                i.plus.icon
                div#regionModal.ui.modal
                    div.header 大区选择
                    i.close.icon
                    div.content
                        div.ui.segment.small.form
                            div.field
                                label 大区名称
                                input(type="text", id="regionName", placeholder="大区名称")
                            div.ui.horizontal.divider 请选择大区内包含的省份
                            div.ui.four.column.left.aligned.stackable.grid.segment#regionItems
                                each area, j in regionList.allArea
                                    - var arrExistAreaId = regionList.existArea;
                                        div.column
                                            div.ui.checked.checkbox
                                                if (arrExistAreaId.indexOf(area.id) > -1)
                                                    input(type="checkbox", checked, disabled)
                                                else
                                                    input(type="checkbox")
                                                label #{area.area_name}
                            div.field
                                button.ui.primary.button#confirmRegionBtn 确定
    script.
        require(["/app/config.js"], function () {
            require(["/app/dictionary/region.js"]);
        });