extends ../frame
block content
    div.html.ui.top.aligned.segment
        div.ui.breadcrumb
            a.section 字典管理
            i.right.chevron.icon.divider
            div.active.section 地区管理
    div.ui.grid.aligned.segment
        div.ten.wide.column.centered
            table.ui.grey.compact.selectable.celled.striped.table.sortable
                thead
                    tr.center.aligned
                        th.sorted.ascending 大区名称
                        th 对应省份
                        th 操作
                tbody#regionList
                    each list, i in regionList.region
                        - var strAreaJoint = "";
                        tr.center.aligned(data-region="#{list.region_id}")
                            td #{i}
                            each name, j in list.area_name
                                - strAreaJoint += name + ",";
                            td #{strAreaJoint.substring(0, strAreaJoint.length-1)}
                            td.collapsing
                                button.ui.primary.aligned.button.region-edit(data-region="#{list.region_id}") 编辑
                tfoot
                    tr
                        th(colspan="6")
                            div#addRegionBtn.ui.right.floated.small.primary.labeled.icon.button 添加大区
                                i.plus.icon
                div#regionModal.ui.modal
                    div.header 大区选择
                    i.close.icon
                    div.content
                        div.ui.segment.small.form
                            div.field
                                label 大区名称
                                input(type="text", id="regionName", placeholder="大区名称")
                            div.ui.horizontal.divider 请选择大区内包含的省份
                            div.ui.four.column.left.aligned.stackable.grid.segment#regionItems
                            div.field
                                button.ui.fluid.primary.button#confirmRegionBtn 确定
                                div.ui.floating.hidden.segment.center.aligned.message#modalMsg
                                    p
    script.
        require(["/app/config.js"], function () {
            require(["/app/dictionary/region.js"]);
        });